{% extends 'layout/layout' %}

{% block title %}
    {{ translate('UserDetails') }} - {{ user.getUsername }} [{{ user.getId }}]
{% endblock title %}

{% block content %}
    {% if errorMessages %}
        <div class="alert alert-danger">
            {% for key, message in errorMessages %}
                {{ message }}<br/>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ translate('Details') }}</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover table-condensed">
                                    <tr>
                                        <td>{{ translate('UserId') }}:</td>
                                        <td>{{ user.getId }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ translate('Username') }}:</td>
                                        <td>{{ user.getUsername }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ translate('EMail') }}:</td>
                                        <td>{{ user.getEmail }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ translate('Created') }}:</td>
                                        <td>{{ user.getCreated.format('d.m.Y H:i') }}</td>
                                    </tr>
                                </table>
                            </div>
                            <a href="{{ url('PeachUserPanel/detail', {'action' : 'edit', 'id' : user.getId}) }}" class="btn btn-danger btn-xs">{{ translate('edit') }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ translate('Roles') }}</div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                {% for key, role in user.getRoles %}
                                    <li>
                                        {{ role.getRoleId|capitalize }}
                                        {% if isAllowed('PeachUserPanel/role') %}
                                            <a href="{{ url('PeachUserPanel/role', {'action' : 'remove', 'id' : user.getId, 'roleId' : role.getId})}}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                            {% if isAllowed('PeachUserPanel/role') %}
                                {% set a = roleForm.setAttribute('action', url('PeachUserPanel/role', {'action' : 'add', 'id' : user.getId})) %}
                                {{ formWidget(roleForm) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}